Cread tres variables numéricas de tipo integer (entero), llamadas de la siguiente forma:

numero1

numero2

numero3

In [1]:
numero1 = 1
numero2 = 45
numero3 = 100

Utilizando los operadores lógicos:

En vuestro caso, es el numero1 mayor que el numero2

Es el numero1 menor que el numero2 pero mayor que el numero3

Es el numero3 igual que el numero2

Es el numero2 distinto que el numero1

In [4]:
print(numero1 > numero2)
print(numero1 < numero2 and numero1 > numero3)
print(numero3 == numero2)
print(numero2 != numero1)

False
False
False
True

Cread dos variables numéricas de tipo float (decimal) con dos decimales, llamdas de la siguiente forma:

altura1

altura2

In [2]:

altura1 = 165.22

altura2 = 10.55

Utilizando los operadores matemáticos aprendidos en la lección:

Cuál es la suma de las dos alturas

Cuál es la diferencia entre las alturas

Cuál es el resto de la división de las dos alturas

Cuál es resultado de la división de las dos alturas, redondead el resultado a un decimal.

In [5]:
print(altura1 + altura2)
print(altura1 - altura2)
print(altura1 % altura2)
print(round(altura1/altura2, 1))

175.77
154.67
6.969999999999988
15.7

Escribid un programa usando la función input() que le pregunte al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:

Printead su nombre y apellidos todo en mayúsculas

Printead su nombre y apellidos todo en minúsculas

Printead su nombre y apellidos con la primera letra del nombre y los apellidos en mayúscula y el resto en minúscula.

Printeas solo la primera letra del nombre en mayúscula.

In [10]:
nombre = input("¿Cuál es tu nombre?")
apellidos = input ("¿Cuáles son tus apellidos")
nombre_completo = nombre + " " + apellidos
print(nombre_completo.upper())
print(nombre_completo.lower())
print(nombre_completo.title())
print(nombre_completo.capitalize())

SANDRA LOPEZ RUVAS
sandra lopez ruvas
Sandra Lopez Ruvas
Sandra lopez ruvas

Escribid un programa usando la función input() que:

Le pregunte al usuario por una frase, almacenad este resultado en una variable.

Le pregunte al usuario por una vocal, almacenad este resultado en una variable.

Printead la misma frase pero con la vocal introducida en mayúsulas.

In [12]:
frase = input("Escribe una frase")
vocal = input("Elige una vocal")
print(frase.replace(vocal, vocal.upper()))

el avion azUl azUlea mUcho

Escribid un programa usando la función input() que:

Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.

Devolved la lista de compra donde veamos cada elemento en una línea.

In [5]:
elementos = input("Apunta la lista de la compra, separando los elementos por comas")
lista = elementos.split(",")
elementos_renglones = "\n".join(lista)
print(elementos_renglones)

arroz,café,yogures,manzanas,platanos
['arroz', 'café', 'yogures', 'manzanas', 'platanos']
arroz
café
yogures
manzanas
platanos